<?php
return array(
    'modules' => array(
        'MobileDetectModule',
    ),
	'module_listener_options' => array(
        'config_glob_paths' => array(),
        'module_paths' => array(),
    ),
);
